.board {
    width: 320px;
}

.board__title,
.board__list {
    background: rgb(235, 236, 240);
}

.board__title {
    margin: 0;
    padding: 20px;
    display: block;
}

.board__list {
    padding: 0 20px 80px 20px;
}